<table id="tituloVentana" border="0" cellspacing="0" cellpadding="0" align="center">
    <thead>
        <tr>
            <th colspan="2" class="titulo">
                <?php echo __('TALLER_TITULO_MOSTRAR_CITA') ?>
            </th>
        </tr>
    </thead>
</table>
<ul class="acciones">
	<li>
		<?php echo $this->Xhtml->imageTextLink('derco/defecto/cerrar.gif', __('GENERAL_CERRAR'),
			'javascript:;',	array('onclick'=>'javascript:window.close()', 'escape'=>false), null, array('width'=>'16'))?>
    </li>
</ul>
<?php echo $this->element('solicitud_mostrar_cita') ?>
<?php echo $this->element('actualizar_padre'); ?>