
				<div class="login width100 titleCenter" style="text-align: left;">
					<h1>SERVICIOS</h1>
					
					<div id="main">
						<div class="nano">
							<div class="overthrow nano-content description">
								<?php  foreach ($servicios as $servicio):?>
									<div class='servicio'>
										<?php echo  $this->Html->image("/img/Servicios/".$servicio['Servicio']['fileName'], array("alt" => $servicio['Servicio']['titulo'])); ?>	
										<?php 	//echo $servicio['Servicio']['description']; ?>
									
									</div>
								<?php endforeach; ?>
							</div>
						</div>
					</div>	

					<div class="logosFooter">
						<img src="/dist/images/basLogos.png">
					</div>
				</div>
