<?php echo $this->Html->script('pdf/jquery.media.js'); ?>
<?php echo $this->Html->script('pdf/jquery.metadata.js'); ?>
<?php echo $this->Html->script('Ayudas/view.js'); ?>

<div class="login width100 titleCenter">
		<div class="contentIframe">
			<?php
									if(!empty($ayuda['Ayuda']['fileName'])){
?>
	<iframe id="iframepdf" width="92%" height="100%" frameBorder="0" src="/pdf/<?php echo $ayuda['Ayuda']['fileName'] ?>"></iframe>

<?php
										//echo  $this->Html->link("","/pdf/".$ayuda['Ayuda']['fileName'], array('id'=>"iframepdf",'class'=>'media')); 	
									}
								?>
		</div>
	<div class="logosFooter">
		<img src="dist/images/basLogos.png">
	</div>
</div>
