<div class="container-fluid text-center">
    <div class="row">
        <?php echo $this->Html->image('webClientes/loginClientes03.jpg', array('alt' => 'Logo de la empresa')); ?>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <?php echo $this->Html->image('webClientes/logos-website.jpg', array('alt' => 'Logo de las marcas')); ?>
        </div>
    </div>
    <div class="row">
        <?php
            echo $this->element('datos_login')
        ?>
    </div>
</div>