<?php echo $this->Html->script('messages/dialog_message.js'); ?>
<div id="dialog_message" title="Mensaje">
	<div id="containermessages">
		<table id="messages"></table> 
		<div id="messages-pager"></div>
	</div>
</div>