<!-- DIALOGO MARCAS -->
<?php echo $this->Html->script('AgeclientesVehiculos/get_vehicles.js'); ?>
<div id="dialog_vehicle" title="Buscar vehicle">
	<div id="containervehicles">
		<table id="vehicles"></table> 
		<div id="vehicles-pager"></div>
	</div>
</div>