+<?php echo $this->Html->script('clientes/password_new.js'); ?>
<div class="span-8" >
	
	<?php echo $this->Html->script('clientes/add'); ?>
	<br/>
	<div id="titulo" class="span-8" >
		<h3><?php echo (__('NUEVA CONTRASEÑA GENERADA',true));?></h3>
	</div>
	<hr/>
	<?php echo $this->Session->flash();?>
</div>