<div class="ui-widget">
	<div style="margin-top: 0px; padding: 0 .7em;" class="ui-state-highlight ui-corner-all">
		<p><span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-circle-check"></span>
		<?php echo "{$content_for_layout}"; ?>
		</p>
	</div>
</div>